@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$typography:'roboto';

$color-principal: red;
$color-secundary: black;
$color-tertiary: white;

$color-principal-hover:rgb(196, 0, 0);

