@use '../utilities/variables';
/*================== Footer =================*/
.footer{
    background-color: variables.$color-secundary;
}

.color{
    color: variables.$color-tertiary;
}

.color:hover{
    color: variables.$color-principal;
}